<!DOCTYPE html>
<html>
  <head>
    <title>NewProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="navbar navbar-fixed-top navbar-inverse" style="border:2px solid black; background: #D5DBDB; padding: 10px">
    <div id="header">
      <h1>Course Scheduler</h1>
    </div>
    <div class="navbar-class">
      <div class="container">
      <a href="/offices">Offices</a>
      <a href="/class_assignments">Class Assignments</a>
      <a href="/courses">Courses</a>
      <a href="/professors">Professors</a>
    </div>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
